@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.team-profile {
    @include card;
    width: 23rem;
    display: flex;
    flex-direction: column;
    padding: .5rem 2rem;
    position: fixed;
    top: 5;



    &__name {
        font-variation-settings: "wght" 700;
        font-size: 1.5rem;
        text-align: center;
        color: $color-primary;
    }

    &__icon {
        width: 8rem;
        align-self: center;
        margin-top: 1rem;
    }

    &__label {
        font-size: 1.25rem;
        margin-bottom: 0rem;
        font-variation-settings: "wght" 600;
    }

    &__text {
        font-size: 1rem;
    }
}