@use "../styles/variables" as *;

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

@mixin card {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 0.5rem;
}

@mixin button-primary {
  background-image: linear-gradient(-180deg, $color-primary, $color-primary-faded, $color-primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  border-radius: 6px;
  border: 0;
  transition: box-shadow .2s;

}