// colors

$color-primary: #00204a;
$color-primary-faded: #00204ad0;
$color-interactive-elements: #19bfb7;
$color-secondary: #eeeeee80;
$color-global-white: #FFFFFF;
$color-third: #242323;
$color-button: #5086bd;

// breakpoint
$desktop-breakpoint: 80rem;
